In [1]:
import pandas as pd

In [2]:
#df_rpi = (pd.read_csv("")
#)

In [3]:
#df_srs = (pd.read_csv("")
#)

In [13]:
df_full = (
    pd.read_csv("../data/raw/score_seed_data_dirty.csv", encoding="ISO-8859-1")
    .rename(columns=str.lower)
    
)

df_full.head()

,yearê,roundê,seed1,team1,score1,seed2,team2,score2
0,2019,National Championship,1,Virginia,85,3,Texas Tech,77
1,2019,Final Four,2,Michigan State,51,3,Texas Tech,61
2,2019,Final Four,1,Virginia,63,4,Auburn,62
3,2019,Elite Eight,1,Virginia,80,3,Purdue,75
4,2019,Elite Eight,1,Gonzaga,69,3,Texas Tech,75